@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jersey+10&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-image: url(HomepageBackground.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

li, a, button {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}
.HeaderTitle {
    cursor: pointer;
}
header {
    height: 40px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.95), rgba(52, 91, 121, 0.344));
    
}

header a {
    position: relative;
    top: -10px;
}

.HeaderTitle {
    font-family: "Jersey 10";
    font-size: 40px;
}

.HeaderNavigations {
    list-style: none;
}

.HeaderNavigations li {
    display: inline-block;
    padding: 0px 50px;
}

.HeaderNavigations li a {
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.HeaderNavigations li a:hover{
    color: lightseagreen;
    border-bottom: 5px solid rgb(60, 145, 162);
}

.Login button{
    font-size: 15px;
    padding: 9px 15px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease 0s;
}

.Login button:hover{
    background-color: rgba(78, 147, 172, 0.642);
}




